@model IEnumerable<WanderList.Models.User>

@{
    ViewData["Title"] = "Dashboard";
    User usr = ViewData["UserObj"] as User;
    Location loc = ViewData["Location"] as Location;
    //int count = ViewData["Count"] as int;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Discover Locations</h2>

<p>
    @loc.Name
    <br />
    @loc.Address
    <br />
    @loc.Rating
    <br />
    @loc.Description
</p>
