@{
    ViewData["Title"] = "Discover";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<html>
<head>
</head>
<body>

    <h1> Love it or nah? </h1>

    <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/Sample-image.svg">
    <button type="button"> Love it! </button>
    <button type="button"> Nah! </button>
    <button type="button"> Refine Search </button>


</body>
</html>