@{
    ViewData["Title"] = "Filter";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<html>
<head>
</head>
<body>

    <h1> Select the category you wish to explore: </h1>

    <button type="button"> Bars and Breweries </button>
    <button type="button"> Restaurants </button>
    <button type="button"> Outdoors </button>
    <button type="button"> Shopping </button>
    <button type="button"> Kids Activities </button>


</body>
</html>