@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="input-group">
	<input type="email" class="form-control" id="email" placeholder="Email" />
</div>

<div class="input-group">
	<input type="password" class="form-control" id="password" placeholder="Password" />
</div>

<button type="submit" class="btn btn-primary">Login</button>

<div>
	<p>Don't have an account?</p>
	<a href="~/Users/Create">Create an account here.</a>
</div>
