@{
	ViewData["Title"] = "SignUp";
}

<h2>Sign Up</h2>

<div class="input-group">
	<input type="email" class="form-control" id="input-email" placeholder="Enter Email" />
</div>

<div class="input-group">
	<input type="password" class="form-control" id="input-password" placeholder="Enter Password" />
</div>

<div class="input-group">
	<input type="password" class="form-control" id="retype-password" placeholder="Re-enter Password" />
</div>

<button type="submit" class="btn btn-primary">Login</button>
